A.:link {text-decoration: none; color :#ffdd00; font-weight: bold;} 
A.:vlink {text-decoration: none; color :008855; font-weight: bold;} 
A.:visited {text-decoration: none;color :ffdd00; font-weight: bold;} 
A.:hover {color: #000099; letter-spacing: 0; text-decoration:underline; background-color blue} 

